body {
	background-image: url("../images/escapeflight.png");
}

.backgroundSquare, .addTrainSquare {
	background-color: white;
	border-radius: 0 0 15px 15px;
	border: 2px solid #161a28;
}

.backgroundSquare {
	min-height: 600px;
	max-height: 800px;
	padding: 15px;
}

.addTrainSquare {
	min-height: 350px;
	padding: 15px;
}

.header {
	margin-top: 35px;
	height: 50px;
	background-color: #404864;
	border-radius: 15px 15px 0 0;
	border-top: 2px solid #161a28;
	border-left: 2px solid #161a28;
	border-right: 2px solid #161a28;
	border-bottom: 1px solid #161a28;
}

.mainContent, .signInBlock {
	display: none;
}

.signInBlock {
	width: 50%;
	margin: auto;
}

h2, th, label {
	font-family: 'noyhgeometric-heavy';
}

th, label {
	font-size: 20px;
}

h2 {
	margin-top: 3px;
	font-size: 40px;
	color: white;
}

table {
	width: 95%;
	margin: auto;
}

tr {
	border-bottom: 1px solid #a5a3a3;
}

.topTableRow {
	border-bottom: 2px solid #a59d9d;
}

th, td {
	text-align: center;
	padding: 10px;
}

.backgroundSquare, .addTrainSquare, .header{
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.51);
}

@font-face {
    font-family: 'noyhgeometric-heavy';
    src: url('../fonts/noyhgeometric-heavy-webfont.woff2') format('woff2'),
         url('../fonts/noyhgeometric-heavy-webfont') format('woff');
    font-weight: normal;
    font-style: normal;
}